services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Hem@123456
      MYSQL_DATABASE: School
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    

  app:
    image: ahr06/reddy-23:latest
    container_name: reddy23-container
    ports:
      - "8081:8081"
    depends_on:
      mysql:
        condition: service_healthy
    restart: always
    environment:
      DB_URL: jdbc:mysql://mysql-db:3306/School
      DB_USERNAME: root
      DB_PASSWORD: Hem@123456
