services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: School
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: firstapi-app
    ports:
      - "8081:8081"
      - "9090:9090"
    depends_on:
      - mysql
    environment:
      DB_URL: jdbc:mysql://mysql:3306/School
      DB_USERNAME: root
      DB_PASSWORD: root

volumes:
  mysql_data:
